*{
    box-sizing: border-box;
}
section{
    height: 100vh;
}
.white{
    height: 50vh;
}
.container{
    border: 2px solid black;
    padding: 5px;
    padding-left: 10px;
    
}
.altitude{
    display: flex;
    gap : 300px;
}
.black{
    
    background-color: black;
    margin-top: 5px;
    color: white;
    padding: 5px;
    padding-left: 10px;
   
}
.container1{
    display:none;
    margin-top: 10px;
    border: 2px solid white;
    padding: 5px;
    padding-left: 10px;
}